<ion-header>
  <ion-toolbar color="success">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Digite Seu Email</ion-label>
    <ion-input type={email}></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Digete sua Senha</ion-label>
    <ion-input type={passworld}></ion-input>
  </ion-item>

  <ion-button color="primary">Entar</ion-button>
  <ion-button color="primary">Cadastrar</ion-button>
</ion-content>
