<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pain">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Escala de Dor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="symptoms">
      <ion-icon name="body-outline"></ion-icon>
      <ion-label>Sintomas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="medicament">
      <ion-icon name="bandage-outline"></ion-icon>
      <ion-label>Medicamentos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
