<ion-header>
  <ion-toolbar color="success">
    <ion-title>Escala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" color="light">
    <ion-icon name="thumbs-up-outline"></ion-icon>
    <ion-icon name="remove-outline"></ion-icon>
    <ion-icon name="remove-outline"></ion-icon>
    <ion-icon name="remove-outline"></ion-icon>
    <ion-icon name="remove-outline"></ion-icon>
    <ion-icon name="remove-outline"></ion-icon>
    <ion-icon name="remove-outline"></ion-icon>
    <ion-icon name="remove-outline"></ion-icon>
    <ion-icon name="remove-outline"></ion-icon>
    <ion-icon name="remove-outline"></ion-icon>
    <ion-icon name="remove-outline"></ion-icon>
    <ion-icon name="thumbs-up-outline"></ion-icon>
  </ion-button>

</ion-content>
