<ion-header>
  <ion-toolbar color="success">
    <ion-title>Medicamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">Nome do Medicamento</ion-label>
    <ion-input>Chá verde</ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Quantidade</ion-label>
    <ion-input>até 4 xícaras ao dia</ion-input>
  </ion-item>

  <ion-item>

    <ion-label position="stacked">Observações</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>
